.mobile-hidden:hover {
    color: var(--brand-color);
    text-decoration: underline;

}


header {
    background-color: var(--bg-color);

    & img {
        width: var(--py-lg); 
    }

    & h1 {
        color: var(--brand-color);
        font: var(--font-title);
    }



    & div + div {
        margin-left: auto;
    }

}

header:nth-child(1) {
    margin-block: var(--py-lg);

}


@media (width <= 22.5rem) {
    header:nth-child(1) {
        margin-block: var(--py-sm);
    
    }
}

@media (width <= 22.5rem) {
    .mobile-hidden {
        display: none;
    }
}


